:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color:#FFFFFF; 
    --bg-color: #2F303A;
    --bg-color-item: #EEEEEE;
    --buttons-bg-color: #F5F4FA;


}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg-color) ;
   
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    text-decoration: none;
}
.header {
    background-color: var(--primary-bg-color);
    cursor: pointer;
}
.main-section {
    background-color: var(--bg-color);
    color: var(--primary-bg-color);
}
.studio {
    color: var(--primary-text-color);
}

.main-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-bg-color);
}

ul {
    list-style: none;
}
.nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color) ;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-link-current {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}
.mail,
.phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
}
.mail:hover, 
.phone:hover {
    color: var(--accent-color);
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
    color: var(--primary-text-color);
}
.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.our-team-section {
    background-color: var(--buttons-bg-color);
}

.our-team {
    background-color: var(--primary-bg-color);
}
.team-title {
    font-weight: 500;
font-size: 16px;
line-height: 1.19;

letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.footer {
    background: var(--bg-color);
}

.footer-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
}
.location {
     font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    color: var(--primary-bg-color);
    text-decoration: none;
}
.footer-mail,
.footer-phone {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.portfolio-button {
    background: var(--buttons-bg-color);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63; 
    letter-spacing: 0.03em;
    cursor: pointer;
}
.portfolio-button:hover, 
.portfolio-button:focus {
    color: var(--primary-bg-color);
    background: var(--accent-color);
}
.our-portfolio-item {
    background-color: var(--bg-color-item);
}
.our-portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.our-portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}